.C-logo{
    height: 70px;
    width: 70px;
}
.time-area{
    display: inline;
}
.company-name{
    color: orange;
}
.footer-icon{
    display: inline;
}
.apply-btn{
    background-color: rgb(86, 241, 233);
    border-radius: 12px;
    border: none;
    padding: 8px 12px;
    margin-bottom: 5px;
}
