.footer-area{
    background-color:rgb(127, 235, 151);
    color: white;
    padding: 25px 45px;
    border-radius: 18px;
}
.copyright{
    text-align: center;
}
.footer-ul ul li{
    list-style: none;
}
.footer-title{
    font-weight: bold;
}