.nav-img{
    height: 80px;
    width: 80px;
}
.nav-link{
    font-weight:600;
}
#employer-btn{
    background-color: rgb(127, 235, 151);
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
}
.sign-in-image{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid black;
}